<html>
    <center>
        <form action="/products/edit_picture" enctype="multipart/form-data" method="post">
        <h1><% data.productname %></h1>
        <img src="/images/<%= data.picture %>" width="300px" alt=""><br>
        <b>Select New Image You Want to Upload</b><br><br><br>
        <input type="file" name="productpicture" required>
        <input type="hidden" name="oldfilename" value="<%= data.picture %>"><br><br>
        <input type="hidden" name="productid" value="<%= data.productid %>"><br><br>
        <input type="submit" value="upload new image" >
    </form>
    </center>
</html>